@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Seletor geral para o fundo das páginas */
body{
    font-family: "Inter", sans-serif;
    background: linear-gradient(to bottom right, orange , royalblue);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

p, a, h1, h2, h3 {
    font-family: "Inter", sans-serif;
    color: aliceblue;
}

/* Formulários (Meu Senac, Fale Conosco) */
.formulario{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:auto;
}

.formulario h1{
    display: flex;
    justify-content: center;
    margin: 30px 0 30px 0;
    color:aliceblue;
}

.formulario label{
    font-size: 22px;
    font-weight: 500;
    color:aliceblue;
}

.formulario form{
    width:10%;; 
}

.formulario input, select, textarea{
    border-radius: 5px;
    border-width: 0.5px;
    border-color: lightgray;
    margin: 15px 0 15px 0;
    padding: 5px;
    
}

/* Aprendizado */

#aprendiz{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100%;
    margin: 0 3% 0 3%;
}

#tituloAprendiz{
    width: 100%;
    text-align: center;
    font-size: 29;
    margin: 4% 0 4% 0;
    color: aliceblue;
}

#fotoAprendiz{
    width: 50%;
    margin-right: 3%;
}

#textoAprendiz {
    width: 50%;
    font-size: 22px;
    font-weight: 450;
}

#textoAprendiz p{
    margin: 2% 0 2% 0;
}

.botoes{
    margin: 4%;
    display: flex;
    justify-content: space-around;
}

.botoes a {
    background-color: royalblue;
    border-radius: 30px;
    padding: 15px;
}

.botoes a:hover {
    background-color:  #accef8;
    color: royalblue;
}

/* Localização */

#corpoLoc{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#textoLoc{
    width:100%;
    height: auto;
    margin: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mapa { 
    position: relative;
    width: 100%; 
    height: 0;        
    padding-bottom: 56.25%; 
}
  
#mapa iframe {
    position: absolute;
    margin: 0 5% 5% 5%;
    width: 75vw;
    height: 50vh;
  }
