@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

/* Seletor base para o fundo das páginas */
body{
    height: 100%;
    width: 100%;
    min-width: 300px;

    background: linear-gradient(to bottom right, orange , royalblue);
    background-size: cover;
    background-repeat: no-repeat;
    
    font-family: "Inter", sans-serif;
}

/* Estilo base para os textos de cada página */
p, a, ul, h1, h2, h3 {
    font-family: "Inter", sans-serif;
    color: aliceblue;
}

/* Estilização base para os containers de formulários */
.formulario{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height:100%;
}

/* Estilização para o título da página faleconosco.html */
.formulario h1{
    display: flex;
    justify-content: center;

    margin: 30px 0 30px 0;
    
    color:aliceblue;
}

/* Estilização dos labels dos formulários */
.formulario label{
    font-size: 22px;
    font-weight: 500;
    color:aliceblue;
}

/* Define o tamanho dos campos dos formulários */
.formulario form{
    width:10%;
    height:100%; 
}

.formulario input, select, textarea{
    margin: 15px 0 15px 0;
    padding: 5px;
    
    border-radius: 5px;
    border-width: 0.5px;
    border-color: lightgray;
}

/* --Aprendizado-- */

/* 
    Centraliza os itens horizontalmente dentro do
    container e define as dimensões do mesmo.
*/
#aprendiz{
    display: flex;
    flex-direction: row;
    justify-content: baseline;

    width: 90%;
    height: 100%;
    margin: 0 3% 0 3%;
}

/* Estiliza o título da página */
#tituloAprendiz{
    width: 100%;
    text-align: center;
    font-size: 29;
    margin: 4% 0 4% 0;
    color: aliceblue;
}

/* 
    Dimensiona a imagem da página 
    para ocupar metade do container
*/
#fotoAprendiz{
    width: 50%;
    max-height: 500px;
    margin-right: 3%;
}

/* 
    Dimensiona o texto da página para ocupar
    a outra metade do container 
*/
#textoAprendiz {
    width: 50%;
    font-size: 22px;
    font-weight: 450;
}

/* Define o espaçamento entre parágrafos do texto */
#textoAprendiz p{
    margin: 2% 0 2% 0;
}

/* Estiliza os links da página aprendizado.html */
.botoes{
    display: flex;
    justify-content: space-around;

    margin: 4%;  
}

.botoes a {
    padding: 15px;

    background-color: royalblue;
    border-radius: 30px;
}  

.botoes a:hover {
    background-color:  #accef8;
    color: royalblue;
}

@media (max-width : 768px){ /* Responsividade da página aprendizado.html*/
    #aprendiz{
        flex-direction: column;
    }

    #textoAprendiz{
        margin: 0 auto 0 auto;
        width: 90%;
        
        text-align:center;
        font-size: 18px;
    }

    #fotoAprendiz{
        width: 85%;
        margin: 0 auto 0 auto;
    }
 }

/* --Localização-- */

/* 
    Define o container do corpo da página e o 
    posicionamento vertical dos itens filhos 
*/
#container__localizacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Centraliza e estiliza o título da página */
#textoLoc{
    margin: 5% auto 5% auto;
    text-align: center;
}

/* Dimensiona e define o espaçamento do mapa para os outros objetos */
#mapa{
    margin: 0 auto 5% auto;
    width: 40%;
}

@media (max-width: 768px){ /* Responsividade da página localizacao.html*/
    #mapa{
       width: 200px;
       height: auto;

       margin: 25px;
    }

    #mapa iframe{
        width: 450px;
        height: 300px;
    }

    #fachadaSenac{
        width: 400px;
        height: auto;

        margin: 25px;
    }
}

/* --Index-- */

/* Fundo do  parágrafo sobre a história do Senac */
.fundo{
    display: flex;
    flex-direction: column;

    height: 30%;

    background-image: url(/imagens/saguaoSenac.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

/* Dimensões, posicionamento e estilização do texto sobre a história do Senac*/
.fundoConteudo{
    width: 75%;
    margin: 4% auto 2% 4%;
}
.fundoConteudo p{
    margin-bottom: 2%;

    font-size: 25px;
    font-weight: 600;
    text-align: justify;
    color: whitesmoke;
}

/* Título da seção de depoimentos de alunos */
#depoimentos {
    width: 50%;
    margin: 5%;

    font-size: 35px;
    font-weight: 500;
    color: white;
}

/* Container do grid de alunos*/
#alunos{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: flex-start;

    width: 100%;

}

/* Define as dimensões do grid de alunos */
.gridAlunos{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: fit-content;
    column-gap: 5%;
    row-gap: 3%;

    margin: 0 5% 0 5%;
}

/* 
    Define os posicionamentos internos de cada item do grid.
    Inicialmente foram configuradas posições fixas para cada item separadamente 
    (ex:
        .nome1{
            grid-template-columns: 1/2;
            }
    ), mas estava impossibilitando a configuração de responsividade.
*/
#gridItem1 , #gridItem2 , #gridItem3 , #gridItem4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 1fr;
}

/* Dimensiona e estiliza as imagens em circulo */
#gridItem1 img, #gridItem2 img, #gridItem3 img, #gridItem4 img{
    max-width: 205px;
    max-height: 205px;

    border-radius: 100px;
    border: 5px solid #2081f9;
}

/* Dimensiona e estiliza os nomes no grid de alunos */
.nomegrid1, .nomegrid2, .nomegrid3, .nomegrid4{
    margin: 5% 0 5% 0;

    font-size: 20px;
    font-weight: 750;
    text-align: center;
    color:white;
}

/* Dimensiona e estiliza as citações do grid */
.textogrid1, .textogrid2, .textogrid3, .textogrid4{
    font-size: 15px;
    font-weight: 450;
    color:white;
    text-align: center;
}

/* Centraliza os itens filhos verticalmente no body */
#corpo{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 25px 0 25px 0;
}

/* Estiliza o título da parte inferior da página */
#corpo h1{
    font-size: 35px;
    margin: 3% 0 3% 0;
}

/* 
    O mapa incorporado estava colando nos limites da página por padrão,
    define espaçamento de todos os elementos.
 */
iframe{
    margin:2%;
}

@media (max-width: 965px) { /* Responsividade da página index.html */
    .gridAlunos {
        grid-template-columns: repeat(2, 1fr);

    }

    #gridItem1 img, #gridItem2 img, #gridItem3 img, #gridItem4 img{
        width: 50%;
    }

    #depoimentos{
        text-align:center;
        margin: 5% auto 5% auto;
    }

    .fundoConteudo p{
        margin: 2% auto 2% auto;
        width: 100%;

        font-size: 20px;
        text-align: center;
        
    }
}

/* --Cursos Livres-- */

#container__cursoslivres{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 100vh;
}

#container__cursoslivres h1{
    margin:2%;

    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

#lista__cursoslivres li{
    margin: 0 auto 10% auto;
}