#fundo{
    height: 30%;
    background-image: url(/imagens/saguaoSenac.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#fundoConteudo{
    width: 75%;
    color: whitesmoke;
    margin: 4%;
}

#fundoConteudo p{
    font-size: 25px;
    font-weight: 600;
    margin: 2%;
}

#depoimentos {
    width: 50%;
    margin: 40px;
    font-size: 35px;
    font-weight: 500;
    color: white;
    display: flex;
    align-self: flex-start;
    justify-self: flex-start;
}

#alunos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: flex-start;
}
.gridAlunos{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 350px;
    column-gap: 50px;
    row-gap: 10px;
}

.containersGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 4% 0 4%;
}

.imgGrid{
    width: 150px;
    border-radius: 100px;
    justify-content: flex-start;
    border: 5px solid #2081f9;
}

.nomesGrid{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color:white;
    margin: 4%;
}

.textosgrid{
    font-size: 15px;
    font-weight: 350;
    color:white;
    text-align: center;
    justify-content: center;
    align-items: center;    
}


#corpo{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 0 25px 0;
}

#corpo h1{
    font-size: 35px;
    margin: 0 0 15px 0;
}

iframe{
    margin:2%;
}

@media (max-width: 768px) {
    .gridAlunos {
        grid-template-columns: repeat(2, 1fr);

    }


}




